@using VesselWebCenter.Data.Models
@using VesselWebCenter.Data.Constants
@model PagingList<VesselsViewModel>
@{
	ViewData["Title"] = "◦•● 𝕍𝕖𝕤𝕤𝕖𝕝𝕤 𝕔𝕦𝕣𝕣𝕖𝕟𝕥𝕝𝕪 𝕣𝕖𝕘𝕚𝕤𝕥𝕖𝕣𝕖𝕕 ●•◦";
}
<link rel="stylesheet" href="~/css/interactiveButton.css" asp-append-version="true" />
<h1 class="text-black shadow-lg rounded-pill bg-primary bg-opacity-25 w-75">@ViewData["Title"]</h1>
<div class="card-body form-control border-primary shadow-lg">
	<table class="table table-striped table-hover table-bordered border-success bg-primary bg-opacity-10">
		<thead>
			<tr class="bg-success shadow-lg text-warning">
				<td class="bg-body col-2" align="center">Vessel Name</td>
				<td class="bg-body" align="center">Vessel Type</td>
				<td class="bg-body" align="center">CallSign</td>
				<td class="bg-body" align="center">Length Overall</td>
				<td class="bg-body" align="center">Breadth</td>
				<td class="bg-body" align="center">Visited Ports Number</td>
				<td class="bg-body" align="center">Last Port Of Call</td>
				<td class="bg-body col-sm-2"  align="center">Details for:</td>
				<td class="bg-body col-1" align="center">Crew Members Count</td>
				@if (User.IsInRole(RoleConstants.USER_OWNER))
				{
					<td class="bg-body" align="center">
						Voyage Availability <br /><label class="text-primary rounded-pill btn-outline-warning" title="For Vessels with minimum 15 Crew members on board">
							Show Info
						</label>
					</td>
				}
			</tr>
		</thead>
		<tbody class="table-hover link-success">

			@foreach (var vsl in Model)
			{
				<tr>
					<td>@vsl.Name</td>
					<td>@vsl.VesselType</td>
					<td>@vsl.CallSign</td>
					<td>@vsl.LOA m</td>
					<td>@vsl.Breadth m</td>
					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						<td>
							@vsl.PortsOfCall?.Count()

						</td>
						<td><p>@vsl?.PortsOfCall?.LastOrDefault()?.PortName</p></td>
					}
					else
					{
						<td style="-webkit-text-fill-color:darkred">Unavailable info</td>
						<td style="-webkit-text-fill-color:darkred">Unavailable info</td>
					}
					<td>
						<form method="get">

							@if (User?.Identity?.IsAuthenticated ?? false)
							{
								<label class="badge text-black-50" asp-for="@vsl.Id">More details⊳</label>
								<input type="submit" style="backdrop-filter:blur()" class="btn-sm rounded-circle border-2 btn-dark btn-outline-warning shadow-lg rounded-3" title="@vsl.Name" name="vesselId" value="@vsl.Id" asp-controller="Vessel" asp-action="ChooseAVessel" />								
							}
							else
							{
								<label style="font-style:oblique;-moz-animation-fill-mode:forwards" asp-for="@vsl.Id">
									<a class="btn-outline-warning btn-success badge badge"
							   asp-route-returnUrl="/Vessel/GetAllVessels" asp-controller="Account" asp-action="Login">Login for more Info</a>
								</label>
								<input type="submit" disabled="disabled" class="btn-warning btn-lg btn" title="@vsl.Name" name="vesselId" value="@vsl.Id" asp-controller="Vessel" asp-action="ChooseAVessel" />
							}

						</form>
					</td>
					@if (User?.Identity?.IsAuthenticated ?? false) 
					{
						<td>
							<p class="text-dark">@vsl.CrewMembersCount</p>
						</td>
					}
					else
					{
						<td>
							<p class="badge text-danger">Unavailable</p>
						</td>
					}
					
					@if (User.IsInRole(RoleConstants.USER_OWNER))
					{
						<td class="bg-primary bg-opacity-25 text-center">
							<h6 class="text-center">@(vsl.VesselAvailableForVoyage == true ? "✔️" : "❌")</h6>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
	@{
		var previousDisabled = !Model.PreviousPage ? "disabled" : "";
		var nextDisabled = !Model.NextPage ? "disabled" : "";
		
	}
	<div class="btn-group-sm">
		<a asp-action="GetAllVessels"
		   asp-route-pageNumber="@(Model.PageIndex-1)"
		   class="btn btn-outline-dark rounded-pill @previousDisabled" style="background-color:greenyellow">
			⫷Previous
		</a>
		@for (int i = 1; i <= Model.TotalPages; i++)
		{
			<a asp-action="GetAllVessels"
		   asp-route-pageNumber="@(i)"
		   class="buttonZ btn-group rounded-pill @nextDisabled" >
				@i
			</a>
		}
		<a asp-action="GetAllVessels"
		   asp-route-pageNumber="@(Model.PageIndex+1)"
		   class="btn btn-outline-dark rounded-pill @nextDisabled" style="background-color:greenyellow">
			Next⫸
		</a>		

	</div>
</div>

