@model List<VesselAssignViewModel>
@{
	ViewData["Title"] = "Choose a Vessel for International Voyage";
}
<h2>@ViewData["Title"]</h2>
<hr class="w-75" />
<div class="table-responsive card-body bg-primary bg-opacity-25 rounded-3 shadow-lg col-8">
	<form method="post">
		<table class="table border-secondary table-bordered border-5 table-striped table-hover form-control-sm w-100 bg-success bg-opacity-25">
			<thead>
				<tr class="shadow-lg text-dark border-secondary border-3" style="background-color:slateblue">
					<th align="center">Vessel Name 📝</th>
					<th align="center">Vessel Type ⎈</th>
					<th align="center">Last Port Name ⎈</th>
					<th align="center">Last Port of Call Lat/Long ⎈</th>
					<th align="center">Select Vessel for Voyage ✔</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var vsl in Model)
				{
					<tr>
						<td>@vsl.VesselName</td>
						<td>@vsl.VesselType</td>
						<td>
							@vsl.LastPortName / @vsl.LastPortCountry
						</td>
						<td>
							φ: @(
							vsl.LatitudeLastPort
							)<br>
							λ: @(
						vsl.LongitudeLastPort
						)
						</td>


						<td>
							<div class="text-center">
								<button disabled id="btn+@(vsl.VesselId)" class="btn btn-primary btn-outline-dark bg-opacity-75 rounded-pill"
									asp-action="AssignVesselForVoyage" asp-controller="PortOfDestination"
									asp-route-vesselParams="@(vsl.VesselId +" "+ vsl.LatitudeLastPort +" "+ vsl.LongitudeLastPort)">
									Select➲
								</button>
								<input class="form-check-input bg-primary bg-opacity-50 bs-popover-auto" type="checkbox" onchange="document.getElementById('btn+@(vsl.VesselId)').disabled = !this.checked;"
								   name="progress" id="progress+@vsl.VesselId" value="@vsl.VesselId" tabIndex="@vsl.VesselId" onClick="ckChange(this)">
							</div>


						</td>

					</tr>

				}
			</tbody>
		</table>

	</form>
</div>

@section Scripts{
	<script src="~/js/MyCheckBox.js" asp-append-version="true"></script>
}



