@model DestinationViewModel
@{
	ViewData["Title"] = "Voyage Planning";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="table-responsive card-body bg-primary bg-opacity-25 rounded-3 shadow-lg">
	<form method="post">
		<table class="table table-responsive border-secondary table-bordered border-5 table-striped table-hover bg-success bg-opacity-25 ">
			<thead >
				<tr class="border-darkborder-3" style="background-color:slateblue">
					<th style="width:10%" align="center">Vessel Image</th>
					<th style="width:25%" align="center">Vessel Name</th>
					<th style="width:10%" align="center">Vessel Type</th>
					<th style="width:15%" align="center">Last Port Of Call</th>
					<th style="width:50%" align="center">Last Port Latitude</th>
					<th style="width:50%" align="center">Last Port Longitude</th>
					<th style="width:40%" align="center">Select Destination for Voyage ↷</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img class="card-img-top" style="width: 8rem; height:4rem"
							 src="@Model.VesselImage" alt="Vessel Type">
					</td>
					<td>
						@Model.VesselName
					</td>
					<td>
						@Model.VesselType
					</td>
					<td>
						@Model.LastPortName / @Model.LastPortCountry
					</td>
					<td>
						φ: @Model.LastPortLatitude
					</td>
					<td>
						λ: @Model.LastPortLongitude
					</td>
					<td>
						<select id="field1" asp-for="@Model.DestinationId">

							@foreach (var item in Model.DestinationPorts)
							{
								<option class="bg-info bg-opacity-25" value="@item.Text Lat: @Model.LastPortLatitude Long: @Model.LastPortLongitude @Model.DestinationId ">@item.Text</option>
								
							}
						</select>

					</td>
				</tr>
			</tbody>
		</table>
	
		<div>			
			<div
				asp-validation-summary="All" class="text-danger">
			</div>
			<label
				asp-for="@Model.ExpectedSpeed">Vessel's Expected average speed (In knots)
			</label>
			<input asp-for="@Model.ExpectedSpeed" type="number" name="spd" />
			<input id="field2" name="value" type="hidden"/>			
			<input onclick="myDestination()" value="Submit⟳" asp-action="ChooseDestinationForCurrentVessel" asp-controller="PortOfDestination"
				   type="submit" class="btn-lg rounded-pill btn-warning btn-outline-success" asp-route-vslId="@Model.VesselId">
		</div>		
	</form>		
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/selectDestination.js" asp-append-version="true"></script>
}



