@model DestinationViewModel
@{
	ViewData["Title"] = "Voyage Planning";
}
<h2>@ViewData["Title"]</h2>

<div class="card-body bg-success bg-opacity-25 rounded-3 shadow-lg">
	<form method="post">
		<table class="bg-success bg-opacity-25 text-dark text-md-center table-hover table-bordered border-secondary w-75">
			<thead>
				<tr class="bg-info border-darkborder-3">
					<td align="center">Vessel Name</td>
					<td align="center">Vessel Type</td>
					<td align="center">Last Port of Call Lat</td>
					<td align="center">Last Port of Call Long</td>
					<td align="center">Select Destination for Voyage</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						@Model.VesselName
					</td>
					<td>
						@Model.VesselType
					</td>
					<td>
						Latitude: @Model.LastPortLatitude
					</td>
					<td>
						Longitude: @Model.LastPortLongitude
					</td>
					<td>
						<select id="field1" asp-for="@Model.DestinationId">

							@foreach (var item in Model.DestinationPorts)
							{
								<option class="bg-info bg-opacity-25" value="@item.Text Lat: @Model.LastPortLatitude Long: @Model.LastPortLongitude ">@item.Text</option>
							}
						</select>

					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<form method="post">
		<div>
			<input id="field2" name="value" type="hidden" />
			<input onclick="myDestination()" asp-action="CollectVoyageInformation" asp-controller="PortOfDestination" type="submit" class="btn-lg rounded-pill btn-warning btn-outline-success">
		</div>
	</form>
</div>

<script src="~/js/selectDestination.js" asp-append-version="true"></script>


